@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --destructive-foreground: 0 0% 100%;
    --secondary-foreground: 0 0% 100%;
    --popover-foreground: 0 0% 100%;
    --primary-foreground: 0 0% 100%;
    --accent-foreground: 0 0% 100%;
    --muted-foreground: 0 0% 100%;
    --card-foreground: 0 0% 100%;
    --destructive: 0 100% 50%;
    --background: 230 15% 14%;
    --foreground: 0 0% 100%;
    --secondary: 36 100% 43%;
    --popover: 230 15% 20%;
    --primary: 200 100% 38%;
    --border: 0 0% 40%;
    --accent: 50 100% 27%;
    --muted: 230 15% 29%;
    --input: 0 0% 50%;
    --card: 230 15% 20%;
    --ring: 200 100% 50%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}
