@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --destructive-foreground: 0 20% 95%;
    --secondary-foreground: 240 20% 95%;
    --popover-foreground: 210 50% 85%;
    --primary-foreground: 180 20% 95%;
    --accent-foreground: 300 20% 95%;
    --muted-foreground: 210 50% 80%;
    --card-foreground: 210 50% 88%;
    --destructive: 0 70% 50%;
    --background: 210 15% 10%;
    --foreground: 210 50% 90%;
    --secondary: 240 70% 45%;
    --popover: 210 15% 15%;
    --primary: 180 80% 28%;
    --border: 210 10% 52%;
    --accent: 300 80% 40%;
    --muted: 210 10% 21%;
    --input: 210 10% 33%;
    --card: 210 15% 12%;
    --ring: 210 50% 90%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}

::-webkit-scrollbar {
  width: 0px;
}

/* editor */

.editor-input {
  min-height: 150px;
  resize: none;
  font-size: 15px;
  position: relative;
  tab-size: 1;
  outline: 0;
  padding: 20px 10px;
}
.editor-placeholder {
  color: #999;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 20px; /* Aligns with padding-top of editor-input */
  left: 15px; /* Aligns with padding-left of editor-input */
  font-size: 15px; /* Same as editor-input font size */
  user-select: none;
  display: inline-block;
  pointer-events: none;
}

/* copy button */

.container_copy {
  --color: #a5a5b0;
  --size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color);
}

.container_copy .clipboard {
  position: absolute;
  animation: keyframes-fill 0.5s;
}

.container_copy .clipboard-check {
  position: absolute;
  display: none;
  animation: keyframes-fill 0.5s;
}

/* ------ On check event ------ */
.container_copy input:checked ~ .clipboard {
  display: none;
}

.container_copy input:checked ~ .clipboard-check {
  display: block;
}

.container_copy input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

@keyframes keyframes-fill {
  0% {
    transform: rotate(0deg) scale(0);
    opacity: 0;
  }

  50% {
    transform: rotate(-10deg) scale(1.2);
  }
}

/* res */

span.editor-image {
  cursor: default;
  display: inline-block;
  position: relative;
  user-select: none;
}

.editor-image img {
  max-width: 100%;
  cursor: default;
}

.editor-image img.focused {
  outline: 2px solid rgb(60, 132, 244);
  user-select: none;
}

.editor-image img.focused.draggable {
  cursor: grab;
}

.editor-image img.focused.draggable:active {
  cursor: grabbing;
}

.editor-image .image-caption-container .tree-view-output {
  margin: 0;
  border-radius: 0;
}

.editor-image .image-caption-container {
  display: block;
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  border-top: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.9);
  min-width: 100px;
  color: #000;
  overflow: hidden;
}

.editor-image .image-caption-button {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  width: 30%;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 100px;
  color: #fff;
  cursor: pointer;
  user-select: none;
}

.editor-image .image-caption-button:hover {
  background-color: rgba(60, 132, 244, 0.5);
}

.editor-image .image-edit-button {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-image: url(/src/images/icons/pencil-fill.svg);
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  vertical-align: -0.25em;
  position: absolute;
  right: 4px;
  top: 4px;
  cursor: pointer;
  user-select: none;
}

.editor-image .image-edit-button:hover {
  background-color: rgba(60, 132, 244, 0.1);
}

.editor-image .image-resizer {
  display: block;
  width: 7px;
  height: 7px;
  position: absolute;
  background-color: rgb(60, 132, 244);
  border: 1px solid #fff;
}

.editor-image .image-resizer.image-resizer-n {
  top: -6px;
  left: 48%;
  cursor: n-resize;
}

.editor-image .image-resizer.image-resizer-ne {
  top: -6px;
  right: -6px;
  cursor: ne-resize;
}

.editor-image .image-resizer.image-resizer-e {
  bottom: 48%;
  right: -6px;
  cursor: e-resize;
}

.editor-image .image-resizer.image-resizer-se {
  bottom: -2px;
  right: -6px;
  cursor: nwse-resize;
}

.editor-image .image-resizer.image-resizer-s {
  bottom: -2px;
  left: 48%;
  cursor: s-resize;
}

.editor-image .image-resizer.image-resizer-sw {
  bottom: -2px;
  left: -6px;
  cursor: sw-resize;
}

.editor-image .image-resizer.image-resizer-w {
  bottom: 48%;
  left: -6px;
  cursor: w-resize;
}

.editor-image .image-resizer.image-resizer-nw {
  top: -6px;
  left: -6px;
  cursor: nw-resize;
}

span.inline-editor-image {
  cursor: default;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.inline-editor-image img {
  max-width: 100%;
  cursor: default;
}

.inline-editor-image img.focused {
  outline: 2px solid rgb(60, 132, 244);
}

.inline-editor-image img.focused.draggable {
  cursor: grab;
}

.inline-editor-image img.focused.draggable:active {
  cursor: grabbing;
}

.inline-editor-image .image-caption-container .tree-view-output {
  margin: 0;
  border-radius: 0;
}

.inline-editor-image.position-full {
  margin: 1em 0 1em 0;
}

.inline-editor-image.position-left {
  float: left;
  width: 50%;
  margin: 1em 1em 0 0;
}

.inline-editor-image.position-right {
  float: right;
  width: 50%;
  margin: 1em 0 0 1em;
}

.inline-editor-image .image-edit-button {
  display: block;
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 6px 8px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 60px;
  color: #fff;
  cursor: pointer;
  user-select: none;
}

.inline-editor-image .image-edit-button:hover {
  background-color: rgba(60, 132, 244, 0.5);
}

.inline-editor-image .image-caption-container {
  display: block;
  background-color: #f4f4f4;
  min-width: 100%;
  color: #000;
  overflow: hidden;
}

/* exdrow */
.excalidraw-button {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.excalidraw-button.selected {
  outline: 2px solid rgb(60, 132, 244);
  user-select: none;
}
